@media (max-width: 768px) {
    .section-p1 {
        padding: 40px;
    }

    .main-nav__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    .main-nav__item {
        margin-bottom: 25px;
    }

    .main-nav__item-cart {
        display: none;
    }

    .main-nav__mobile-menu {
        display: flex;
        align-items: center;
    }

    .main-nav__hamburger-menu {
        width: 25px;
        margin-left: 20px;
        cursor: pointer;
    }

    .main-nav__list.active {
        right: 0;
    }

    .main-nav__close-button {
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
        width: 20px;
    }

    .hero-section {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .feature-section {
        justify-content: center;
    }

    .products-container {
        justify-content: center;
        gap: 20px;
    }

    .banner-cta-section {
        height: 20vh;
    }

    .banner-deals1-container {
        min-width: 100%;
        height: 30vh;
        
    }

    .banner-deals2-section {
        padding: 0 40px;
    }

    .banner-deals2-container {
        width: 30%;
    }

    .newsletter-form {
        width: 70%;
    }
}